numpy==1.26.4
pandas
scikit-learn
xgboost
lightgbm
imbalanced-learn
matplotlib
seaborn
jupyter
pyyaml
joblib

streamlit 

# Install PyTorch manually:
# pip install torch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cpu
# torch==2.5.1
# torchvision==0.20.1
# torchaudio==2.5.1
